<div class="container-fluid w-100 m-0 p-0">
  <nav class="navbar navbar-light w-100">
    <div>
      <mat-icon> view_headline </mat-icon>
    </div>
    <div>
<a href="/" style="text-decoration: none;"><h1>Teamdream</h1></a>
    </div>
    <div>
      <ul>
        <a href="#"><li><button id="btn" class="btn" label="Download">Download</button></li></a>
        <a href="#"><li><button id="btn" class="btn" label="Nitro">Nitro</button></li></a>
        <a href="#"><li><button id="btn" class="btn" label="Safety">Safety</button></li></a>
        <a href="#"><li><button id="btn" class="btn" label="Support">Support</button></li></a>
      </ul>
    </div>
    <div class="button">
      <ul>
        <button class="btn mr-3" label="Sign Up">
          Sign Up
        </button>
        <button class="btn ml-3" label="Sign In">
          Sign In
        </button>
      </ul>
    </div>
  </nav>
</div>
