<div class="container-fluid w-100 p-0 m-0">
  <div class="d-flex page1 w-100">
    <div class="logo">
      <h1>Teamdream.</h1>
      <span class="h3">Making Dreams Together.</span>
      <div>
        <span>
          Imagine a place where you can belong to a school club, a gaming group,
          or a worldwide art community. A place where just you and a handful of
          friends can spend time together.
        </span>
      </div>
      <div class="mt-5 but">
        <button class="btn mr-4">
          <mat-icon>download</mat-icon>
          <span class="download"> Download from Windows </span>
        </button>
        <button class="btn ml-4">Open in Browser</button>
      </div>
    </div>
    <div class="sallypack">
      <div class="d-flex w-75 mx-auto">
        <div class="sally">
          <img
            src="../../../assets/img/svg/Saly-16.svg"
            alt=""
            class="sally16"
          />
        </div>
        <div class="sally1">
          <img
            src="../../../assets/img/svg/Saly-14.svg"
            alt=""
            class="sally14"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="sponsors mx-auto">
    <img src="../../../assets/img/svg/Frame 101.svg" alt="" class="sponsors" />
  </div>
</div>
<div class="container-fluid row w-100 mt-4">
  <div class="col-md-6 w-100">
    <div class="w-75 ml-auto">
      <img src="../../../assets/img/svg/Frame 62.svg" alt="" />
    </div>
  </div>
  <div class="col-md-6 w-100">
    <div class="txt1 mx-auto">
      <h1 class="h1">It brings your whole team together.</h1>
      <span>
        Teamdream is organized into topic-based channels where you can
        collaborate, share, and just express your day without logging up a group
        chat
      </span>
      <div class="mt-5">
        <button class="btn mr-4">Learn more</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid row w-100 m-0 p-0 mt-5">
  <div class="col-md-6">
    <div class="txt1 ml-auto mt-5">
      <h1 class="h1">Connect anywhere with any device.</h1>
      <span>
        We have design our softwares for easy usablility across all platform.
        You can connect with your team-mate from anywhere you are, at anytime of
        the day.
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <img src="../../../assets/img/svg/multidevices-4 1.svg" alt="" />
  </div>
</div>
<div class="container-fluid row w-100 m-0 p-0 mt-5">
  <div class="col-md-6">
    <div class="w-75 ml-auto">
      <img
        src="../../../assets/img/svg/Data extraction 1.svg"
        alt=""
        width="454"
        height="454"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="txt1 mt-5">
      <h1 class="h1">Built-in Project Analysis.</h1>
      <span>
        Teamdream have a Built-in Project Analysis that make analysis of
        personal and team work, work in progress, not started and overall
        project analysis.
      </span>
      <div class="mt-5">
        <button class="btn mr-4">Learn more</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid w-100 m-0 p-0 mt-5" style="overflow: hidden">
  <div class="text-center mt-5">
    <h3 class="h3">Welcome to the future of collaboration</h3>
    <div class="w-50 mx-auto">
      <button class="btn mr-4" label="Sign Up">Try for free</button>
      <button class="btn ml-4" label="Sign In">Explore Nitro</button>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer background="../../../assets/img/svg/Sitemappage.svg"></app-footer>
</div>
