<div class="container-fluid w-100 m-0 p-0 mt-5" style="background: url({{background}});">
  <div class="div_content">
    <div class="content">
      <div>
        <ul>
          <li>Company</li>
          <li><a routerLink="#">About Us</a></li>
          <li><a routerLink="#">Branding</a></li>
          <li><a routerLink="#">Leadership</a></li>
          <li><a routerLink="#">Newsroom</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Product</li>
          <li><a routerLink="#">Download</a></li>
          <li><a routerLink="#">Nitro</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Policies</li>
          <li><a routerLink="#">Terms</a></li>
          <li><a routerLink="#">Privacy</a></li>
          <li><a routerLink="#">Guildlines</a></li>
          <li><a routerLink="#">Acknowledgement</a></li>
        </ul>
      </div>
      <div>
        <h4>Teamdream</h4>
        <div class="social">
          <mat-icon style="border: 1px solid">twitter</mat-icon>
          <mat-icon style="border: 1px solid">facebook</mat-icon>
          <mat-icon style="border: 1px solid">instagram</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="prodby">
    <div class="doneby">
      <h3 class="mr-5">Designed and Produced by SQIWebExperts</h3>
      <div class="ml-5">&copy; 2021</div>
    </div>
  </div>
</div>
