<div class="container-fluid w-100 m-0 p-0 ">
<div class="row w-100 bdy">
  <div class="col-md-5" style="display: flex;justify-content: center;align-items:center;">
    <div class="ml-5" style="height: 273px;width: 300px; ">
      <div class="w-100 ml-5">
        <h1>
          Teamdream on Windows
        </h1>
        <span>
          Hang out with your friends on our desktop app and keep the conversation going
        </span>
        <div class="mt-5 but">
          <button class="btn mr-4">
            <mat-icon>download</mat-icon>
            <span class="download"> Download from Windows </span>
          </button>
        </div>
      </div>
      </div>
  </div>
  <div class="col-md-7">
          <img src="../../../assets/img/svg/ISO.svg" alt="" style="width: 780px; height: 525px;">
  </div>
</div>


  <div class="footer">
    <app-footer background="../../../assets/img/svg/Rectangle79.svg"></app-footer>
  </div>
</div>
